
html
{
	font-family: fantasy, "Comic Sans MS", cursive, sans-serif;
	color:white ;
	font-size: small;
	background-repeat: no-repeat;
}

h1
{
	font-family: "Trebuchet MS", sans-serif;
	margin:-10px 150px 0px 190px;
	background-color:none;
	opacity:0.9;
	text-align: center;
	color: white;
	font-variant: small-caps;
	font-weight: 500;
	font-size: 60px;
}

nav
{
	font-family: fantasy, "Comic Sans MS", cursive, sans-serif;
	text-align:center;
	height:762px;
	width:200px;
	margin:-70px 5px 0px -10px;
	font-size: 25px;
	float:left;
	list-style: none;
	opacity:0.9;
	border-right:solid white;
}

h2
{
	font-family: serif;
	text-align:center;
	font-size: 20px;
	font-variant: small;
	background-color:white;
	margin:-10px -8px 0px 190px;
	border-left:solid white;
	border-bottom:solid white;
}

h3
{
	font-family: "Gill Sans", sans-serif;
	text-align:left;
	height:472px;
	width:174px;
	margin:200px 10px 0px 195px;
	font-size: 15px;
	font-weight:normal;
	list-style-type: square;
	border-right: solid white;
	border-left: solid white;
	border-top: solid white;
	border-bottom: solid white;
}

h4
{
	text-align:left;
	font-family: "Trebuchet MS", sans-serif;
	font-variant: small-caps;
	font-size: 25px;
	margin:-662px 1000px -10px 380px;
	font-weight:normal;
	border-right: solid white;
	border-left: solid white;
	border-top: solid white;
	border-bottom: solid white;
}

h5
{
	margin:20px 0px -30px 1150px;
	border-right: solid white;
	border-right: solid white;
	border-left: solid white;
	border-top: solid white;
	border-bottom: solid white;
	font-family: "Trebuchet MS", sans-serif;
	font-variant: small-caps;
	font-weight:normal;
	font-size: 25px;
}

h6
{
	height:470px;
	width:670px;
	margin:-550px 0px -30px 400px;
	font-family: "Trebuchet MS", sans-serif;
	font-variant: small-caps;
	font-weight:normal;
	font-size: 25px;
}

.p1
{
	text-align:left;
	font-family: system-ui;
	font-variant: normal;
}

.p2
{
	height:400px;
	width:600px;
	font-size: 15px;
	font-weight:normal;
	list-style-type: square;
	background:none;
	opacity:0.96;
}

img
{
	float: left;
	border:solid white;
}

ul
{
	list-style-type: square;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
}