html{
	background-image: url(ttcb.jpg); 
	maw-width : 100%;
	overflow-x:hidden;
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

nav   { 
		
		font-family: fantasy, "Comic Sans MS", cursive, sans-serif;
		text-align:center;
		height:762px;
		width:200px;
		margin:-70px 5px 0px -10px;
		font-size: 25px;
		float:left; 
		list-style: none; 
		background:#F5DA89;
		opacity:0.9;
		border-right:solid white;
}


h2 {

	color:#F5DA89;
	opacity:0.9;

}

h3 {
	color:#FB5C1B;
	background:#E5D7AE;
	opacity:0.9;
}

.class1 {
	text-align:left;
	font-size: 15px;
	color:white;
	font-weight:bold;
}

h4{
    height:170px;
	width:1125px;
	color:#FB5C1B;
	background:#F5DA89;
	opacity:0.92;
}

h5 {
    height:470px;
	width:355px;
	background:#F5DA89;
	opacity:0.92;
	color:#FB5C1B;
}

h6 {
	color:white; 
}

.p1{
	color:#FB5C1B;
	font-size: 17px;
}
	

.p2  {
	color:#FB5C1B;
    margin:-430px 300px 100px 400px;
	}
	

ul {
    margin:-350px ; 
}
	
